{% extends 'base_email.html' %}
{% block text %}
  Sehr geehrter Benutzer <br>
  Sie Bekommen diese Email, da Sie auf der Website {{ site_name }} das Zurücksetzen Ihres Passworts angefordert haben.<br>
  Um das neue Passwort zu setzen klicken Sie bitte uf den unten liegenden Link.
{% endblock %}
    {% block url %}
        http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% block url_name %}
      Passwort neu einstellen.
    {% endblock %}

    {% block greeting %}
    Mit freundlichen Grüßen: Das Admin Team
    {% endblock %}
