{% extends 'base_email.html' %}
{% block text_top %}
  Sie Bekommen diese Email, da Sie auf der Website {{ site_name }} das Zurücksetzen Ihres Passworts angefordert haben.<br>
  Um das neue Passwort zu setzen klicken Sie bitte uf den unten liegenden Link.
{% endblock %}
    {% block btn_url %}
        http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% block btn_text %}
      Passwort neu setzen.
    {% endblock %}

    {% block text_bottom %}
      Falls Sie Ihr Passwort nicht zurückgesetzt haben, können Sie diese Email Ignorieren.
    {% endblock %}

    {% block greeting %}
    Mit freundlichen Grüßen: <br>
    Das Admin Team
    {% endblock %}
