{% extends "base.html" %}

{% load i18n %}

{% block content %}
<style media="screen">
  .form{
    background-color: #333;
    width: 30em;
    height: 21em;
    border-radius: 10px;
    margin: 10% auto;
    font-family: roboto;
  }

  .form h1{
    padding-top: 1.5em;
    padding-left: 1.5em;
  }

  .form form{
    padding-left: 3em;
    margin-bottom: 1.5em;
  }
</style>
 {% if messages %}

     {% for message in messages %}
     <div class="{{ message.tags }}">
     <h3>{{ message }}</h3>
   </div>
     {% endfor %}
{% endif %}


 <!-- Form rendering code for template -->
 <div class="app">

  <div class="form">
  <h1>Passwort zurücksetzen:</h1>
   <form action="" method="post">

     {% csrf_token %}
     {% for field in form %}
     <p>{{ field.label_tag }}</p>
     <p>{{ field }}</p>
     {% endfor %}

     <input type="submit" value="Absenden" />
   </form>
 </div>
  </div>
{% endblock %}
