<!DOCTYPE html>
<html lang="en">
<head> 
   {% load staticfiles %}
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NicRent - {% block title %}{% endblock title %}</title> 
   <link rel="stylesheet" href="{% static "storage/css/main.css" %}"> 
   <link rel="stylesheet" href="{% static "storage/css/tables.css" %}"> 
   <link rel="stylesheet" href="{% static "storage/css/buttons.css" %}">
    <script src="{% static "storage/js/main.js" %}"></script> 
    <script src="https://use.fontawesome.com/4220c00619.js"></script> 
        <link rel="stylesheet" href="{% static "storage/css/components.css" %}"> 
     <script src="{% static 'storage/js/modal.js' %}"></script> 
     <script src="{% static 'storage/js/ajax.js' %}"></script>
</head>
<body> 

  <!--topnav-->
 <ul class="topnav" id="myTopnav">
     <li><a href="#"><span onclick="openNav()"><i class="fa fa-align-justify" aria-hidden="true"></i></span></a></li> 
     
  <div id="usermenue"> 
  <li> 
      <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
  </li> 
  
  <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  
  <li class="dropdown" ><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a> 
     </li> 
  </div>
    </ul>
 
 <!--sidenav-->
  <div id="mySidenav" class="sidenav">  
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
  <a href="{% url 'storage' %}"><i class="fa fa-signal" aria-hidden="true"></i> Equipment</a>
  <a href="{% url 'Order' %}"><i class="fa fa-cubes" aria-hidden="true"></i> Aufträge</a>
  <a href="{% url 'clients' %}"><i class="fa fa-address-book-o" aria-hidden="true"></i> Kunden</a> 
  <a href="{% url 'bills' %}"><i class="fa fa-eur" aria-hidden="true"></i> Rechnungen</a>
</div>


<!--Content-->
<div id="main">
 {% block content %} 
 {% endblock content %}
    </div>


</body>
</html>