{% extends "main/base.html" %}  


{% block title %} 
    Details {{equipment.name}}
{% endblock title %}  

{% block site_header %} 
    Benötigtes Equipment:
{% endblock site_header %} 

{% block content %}  

 <h3>Details zu {{order.name}}</h3>
<table> 
<tr>
    <th>Veranstaltungsname</th> 
    <th>Datum</th>  
    <th>Ort</th> 
    <th>Straße</th> 
    <th>Kunde</th> 
    <th>Gästeanzahl</th>  
</tr> 

 <tr> 
      <th>{{order.name}}</th> 
      <th>{{order.date}}</th>  
      <th>{{order.city}}</th> 
      <th>{{order.street}}</th> 
      <th>{{order.client}}</th>
      <th>{{order.GuestNumber}}</th>   
 </tr>     
</table> 
 
<table>
    <tr> 
        <th>Beschreibung:</th> 
        <th>{{order.description}}</th>
    </tr>
</table> 
 
<h3>Benötigtes Equipment:</h3> 
 
<table> 
<tr> 
    <th>Hersteller</th> 
    <th>Name</th> 
    <th>benötigte Anzahl</th> 
</tr> 

 
{% for equipment, assignment in equipment %} 
 <tr> 
     <th>{{equipment.fabricator}}</th> 
     <th>{{equipment.name}}</th> 
     <th>{{assignment.quantity}}</th>
 </tr>        
{% endfor %}

</table> 

  
   
    
 
{% endblock content %}