<!DOCTYPE html>
<html lang="en">
<head> 
    {% load staticfiles %}
    <meta charset="UTF-8"> 
    <script src="{% static 'storage/js/login.js' %}"></script> 
    <script src="{% static 'storage/js/ajax.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'storage/css/login.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>EasyRent-Login</title>
</head>
<body> 

     
 <div class="form">  
 <h3 id = "header">EasyRent Login</h3> 
 <!-- alert --> 
 <div class="alert hidden">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     Benutzername oder Passwort falsch!</div> 
  <form id="login-form" onsubmit="event.preventDefault(); ajaxLogin()"> 
     {% csrf_token %}
      <input type="text" id="username" name="username" placeholder="Benutzername"> 
      <br> 
      <input type="password" id="password" name="password" placeholder="Passwort"> 
      <br> 
      <input type="submit" value="Login" id="button">
  </form> 
 </div> 
 
    <footer><bolt>EasyRent Veranstaltunsverwaltung</bolt></footer>  
</body>
</html>