{% extends "main/base.html" %}
 
{% block title %} 
    Dashboard
{% endblock title %} 

{% block site_header %} 
    Dashboard
{% endblock site_header %}

{% block content %} 
   <button class="button-green pull-right">neue Veranstaltung</button> 
<table class=table style="border: 1px solid black"> 
       <tr> 
           <th>Name</th> 
           <th>Status</th> 
       </tr>
        {% for Assignment in object_list %} 
        <tr>
            <th>{{ Assignment.name }}  
            (<a href="{% url 'details' pk=Assignment.id %}">Details</a>) 
            (<a href="{% url 'picklist' pk=Assignment.id %}">Lagerliste</a>)    
            </th> 
            <th>{{ Assignment.status }}</th> 
            
            {% empty %}
            <th>Keine Veranstaltungen</th>
        </tr>
    </table> 
{% endfor %} 
{% endblock content %}