{% extends "main/base.html" %} 

{% block title %} 
    Picklist
{% endblock title %}  

{% block site_header %} 
    Benötigtes Equipment:
{% endblock site_header %} 

{% block content %} 

<h3>Noch nicht geladenes Equipment:</h3>
<table> 
    <tr> 
        <th>Hersteller</th> 
        <th>Name</th> 
        <th>Gewerk</th> 
        <th>Benötigte Anzahl</th> 
        <th>Regal</th> 
        <th>Status</th>
    </tr> 
   {% for equipment, assignment in equipment %}  
    <tr> 
    <td>{{equipment.fabricator}}</td> 
    <td>{{equipment.name}}</td> 
    <td>{{equipment.labor}}</td> 
    <td>{{assignment.quantity}}</td> 
    <td>{{equipment.storeplace}}</td> 
    <td>  
    <p id="status">{{equipment.status}}</p> 
    <script> 
function get_status(){
html = document.getElementById('status')
console.log(html.innerHTML) 
}
</script> 
    </td>
    </tr> 
    {% endfor %}
</table>  
 <a href="{% url 'SetOrder' %}?o={{order.id}}" class="btn btn-success" role="button">Veranstaltung freigeben</a> 
 
<script> 
    get_status()
</script>
 


{% endblock content %}