body{ 
    background-color: #333; 
    font-family: 'Roboto', sans-serif;
} 

.form{ 
    margin-left: 35em; 
    margin-top: 15em;  
    width: 23em; 
    background-color: #3A434A; 
    border-radius: 10px;
    
}

#header{ 
    color:white; 
    padding-left: 6.1em; 
    padding-top: 10px;
}

input[type=password]{ 
    padding: 12px 20px; 
    margin: 8px 0; 
    margin-left: 1.5em;
    box-sizing: border-box; 
    width: 30em; 
    height: 4em; 
    background-color: #1d1d1d; 
    color: white 
   
} 

input[type=text]{ 
    padding: 12px 20px; 
    margin: 8px 0; 
    margin-left: 1.5em;
    box-sizing: border-box; 
    width: 30em; 
    height: 4em; 
    background-color: #1d1d1d; 
    color: white 
} 

input[type=submit]{ 
    background-color: #1d1d1d; 
    color: white; 
    width: 7em; 
    height: 3em; 
    border-radius: 10px; 
    margin-left: 24em; 
    margin-bottom: 10px;
}



/* The alert message box */

.alert {
    padding: 20px;
    background-color: #f4b236; /* Red */
    color: white;
    margin-bottom: 15px; 
    margin-left: 15px; 
    margin-right: 15px;
    border-radius: 10px; 
    
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s; 
    
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 


.hidden{ 
    display:none;
} 

footer{ 
padding-top: 21em; 
color: white; 
position: fixed;
}