{% extends 'email/base_email.html' %}
{% block text_top %}
  Sie Bekommen diese Email, da Sie auf der Website {{ site_name }} das Zurücksetzen Ihres Passworts angefordert haben.<br>
  Um das neue Passwort zu setzen klicken Sie bitte auf den Button.
  <br>
  Ihr Benutzername (falls Sie ihn vergessen haben): {{ user.get_username }}
{% endblock %}
    {% block btn_url %}
        http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% block btn_text %}
      Passwort neu setzen.
    {% endblock %}

    {% block bottom_text %}
      Falls Sie Ihr Passwort nicht zurückgesetzt haben, können Sie diese Email Ignorieren.
    {% endblock %}

    {% block greeting %}
    Mit freundlichen Grüßen: <br>
    Das Admin Team
    {% endblock %}
