<!DOCTYPE html>
<html lang="en">
<head> 
   {% load staticfiles %}
   
    <!--internal files--> 
    <link rel="stylesheet" href="{% static "app/css/base.css" %}"> 
    
    <!--meta-->
    <meta charset="UTF-8">
    <title>EasyRent</title>
</head>
<body>
   {% verbatim %} 
      <div id="app">
        <input type="text" v-model="message"> <br>
        {{message}}
     
      </div>
   {% endverbatim %} 
   
   
   
     <!--vue.js--> 
    <script src="{% static "app/js/vue.js" %}"></script> 
    <script src="{% static "app/js/base.js" %}"></script>
</body>
</html>